[*.java]
indent_style = space
indent_size = 4
insert_final_newline = true

[*.properties]
indent_style = space
indent_size = 4
insert_final_newline = true

[Makefile]
indent_style = tab
indent_size = 2
insert_final_newline = true

[*.{json,yaml,tf}]
indent_style = space
indent_size = 2
insert_final_newline = true
